[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.*DS_Store

# Files we don't want to track
config/*.bak
config/abnormals_core-client.toml
config/adchimneys-client.toml
config/adlods-client.toml
config/aiotbotania-client.toml
config/ambientsounds-client.json
config/appleskin-client.toml
config/biomesoplenty/client.toml
config/bloodmagic-client.toml
config/botania-client.toml
config/botanicalmachinery-client.toml
config/botanypots-client.toml
config/car-client.toml
config/chancecubes/custom_rewards/CustomSounds-Resourcepack.zip
config/chiselsandbits-client.toml
config/computercraft-client.toml
config/cookingforblockheads-client.toml
config/corail_backpack-client.toml
config/cosmeticarmorreworked-client.toml
config/craftingtweaks-client.toml
config/cucumber-client.toml
config/curios-client.toml
config/cyclic-client.toml
config/dsurround/dsurround-client.toml
config/dsurround/environs-client.toml
config/dsurround/mobeffects-client.toml
config/dsurround/sndctrl-client.toml
config/embellishcraft-client.toml
config/enchdesc-client.toml
config/enderchests-client.toml
config/endertanks-client.toml
config/engineersdecor-client.toml
config/extremereactors/client.toml
config/farmingforblockheads-client.toml
config/fluxnetworks-client.toml
config/forge-client.toml
config/forgeendertech-client.toml
config/fpsreducer/fpsreducer-client.toml
config/gbook-client.toml
config/guiclock-common.toml
config/guicompass-common.toml
config/guifollowers-common.toml
config/immersiveengineering-client.toml
config/inventoryhud-client.toml
config/ironjetpacks-client.toml
config/jei-client.toml
config/jeiintegration-client.toml
config/lostcities/client.toml
config/mantle-client.toml
config/mapperbase-client.toml
config/matc-client.toml
config/mcjtylib-client.toml
config/Mekanism/client.toml
config/Mekanism/tools-client.toml
config/minecolonies-client.toml
config/ModernUI/client.toml
config/morered-client.toml
config/mysticalagriculture-client.toml
config/mythicbotany-client.toml
config/naturescompass-client.toml
config/neat-client.toml
config/patchouli-client.toml
config/potiondescriptions-client.toml
config/productivebees-client.toml
config/ProjectE/client.toml
config/psi-client.toml
config/refinedstorage-client.toml
config/resourcefulbees/client.toml
config/rftoolscontrol-client.toml
config/rftoolsdim-client.toml
config/rftoolsutility-client.toml
config/servertabinfo-client.toml
config/silentgear-client.toml
config/structurize-client.toml
config/supplementaries-client.toml
config/tombstone-client.toml
config/toolstats-client.toml
config/upgrade_aquatic-client.toml
config/valhelsia_structures-client.toml
config/vampirism-client.toml
config/waystones-client.toml
config/woot-client.toml
config/xaerominimap.txt
config/xaeropatreon.txt
config/xaeroworldmap.txt
